body, html{
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  position: flex;
}
.header {
  color: rgb(255, 255, 255);
  font-size: 30px;
  position: fixed;
  right: 20px;
  top: 10px;
}
.footer {
  color: rgb(255, 255, 255);
  font-size: 10px;
  position: fixed;
  left: 10px;
  bottom: 10px;
} 

/* body {
  background-image: url('./ezgif.com-gif-maker.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

body {
  background-color: hsl(240, 44%, 11%);
  background-repeat: no-repeat;
  background-size: cover;
  display:flex; */
}
.main{
  position: fixed;
  top: calc(10vh - 50px);
  left: calc(5vw - 50px);
} 

/* .planet{
  position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%) rotate(var(--r, 0deg)) translateX(var(--d, 0px)); */
/* } */

/* 
#sun{
  position: fixed;
  top: calc(50vh - 85px);
  left: calc(50vw - 120px);
  z-index: 4;
  width: 170px;
  height: 170px;
}

@media screen and (max-width: 480px) {
  #sun{
    width: 80px;
    height: 80px;
    top: calc(50vh - 40px);
    left: calc(50vw - 40px);
  }
} 

#earth{  */
  /* position: fixed; */
  /* top: -4vh; */
  /* left: -1vw; */
  /* z-index: 10;
  width: 95x;
  height: 95px;
} 


@media screen and (max-width: 480px) {
  #earth{
    width: 35px;
    height: 35px;
  }
}


#venus{
  position: fixed;
  top: 14vh;
  left: -3vw;
  z-index: 4;
  width: 95x;
  height: 95px;
}

@media screen and (max-width: 480px) {
  #venus{
    width: 35px;
    height: 35px;
  }
}

#jupiter{
  position: absolute;
  top: 46vh;
  left: 20vw;
  z-index: 4;
  width: 95x;
  height: 95px;
}

@media screen and (max-width: 480px) {
  #jupiter{
    width: 35px;
    height: 35px;
  }
} */



/*
.oval{
  position: relative;
  width: var(--d, 100px);
  height: var(--d, 100px);
  border-radius: 50%;
  border: dotted 5px whitesmoke;
  margin: auto;
  padding: 10px;
}

#oval1{ */
  /* width: 27vw;
  height: 27vh; */
  /* border-radius: 50%;
  position: fixed;*/
  /* top: 40vh;
  left: 33vw;  */
  /* z-index: 10;
} */

/* #oval2{ */
  /* width: 42vw;
  height: 37vh; */
  /* border-radius: 50%;
  position: fixed;*/
  /* top: 34vh;
  left: 27vw; 
  z-index: 2;
}

#oval3{ */
  /* width: 60vw;
  height: 55vh; */
  /* border-radius: 50%;
  position: fixed;*/
  /* top: 26vh;
  left: 18vw;
  z-index: 1;
}
*/

@keyframes star-blink{
  0% {opacity: 0%;}
  50% {opacity: 100%;}
  100% {opacity: 0%;}
}

.star{
  animation-name: star-blink;
  position: fixed;
  animation-iteration-count: infinite;
}

.star1{
  animation-duration: 5s;
  top: calc(50vh - 25px);
  left: calc(30vw - 25px);
}

.star2{
  animation-duration: 6s;
  top: calc(20vh - 10px);
  left: calc(33vw - 10px);
}

.star3{
  animation-duration: 7s;
  top: calc(90vh - 25px);
  left: calc(40vw - 25px);
}

.star4{
  animation-duration: 8s;
  top: calc(10vh - 25px);
  left: calc(85vw - 25px);
}

.star5{
  animation-duration: 9s;
  top: calc(80vh - 10px);
  left: calc(5vw - 10px);
}

.star6{
  animation-duration: 10s;
  top: calc(65vh - 10px);
  left: calc(45vw - 10px);
}

.star7{
  animation-duration: 9s;
  top: calc(5vh - 30px);
  left: calc(50vw - 30px);
}

.star8{
  animation-duration: 8s;
  top: calc(40vh - 30px);
  left: calc(0vw - 30px);
}

.star9{
  animation-duration: 7s;
  top: calc(10vh - 10px);
  left: calc(5vw - 10px);
}

.star10{
  animation-duration: 6s;
  top: calc(85vh - 25px);
  left: calc(85vw - 25px);
}

.star11{
  animation-duration: 5s;
  top: calc(45vh - 30px);
  left: calc(95vw - 30px);
}


.galaxy{
  margin: auto;
  position: relative;
  align-items: center;
}

.orbit{
  width: var(--d, 100px);
  height: var(--d, 100px);
  border-radius:50%;
  border: 5px dotted whitesmoke;
  margin:auto;
  position:fixed;
  top: calc( 50% - var(--d, 100px) / 2 );
  left: calc( 50% - var(--d, 100px) / 2 );
  transform: rotate(var(--r, 0deg));
}

.orbit a {
  position:absolute;
  border-radius:inherit;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) translateX(var(--d,0px));
}

.planet-img {
  height: var(--wh, 95px);
  width: var(--wh, 95px);
  transform: rotate(var(--r, -0deg));
}

body {
  margin:0;
  height:100vh;
  display:flex;
}